.progress {
  border: 1px solid black;
  height: 20px;
  width: 500px;
  position: relative;
  background-color: rgb(243, 243, 243);
  border-radius: 16px;
  overflow: hidden;
}

.progress span {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 2;
}

.progress div {
  background-color: rgb(60, 146, 60);
  height: 100%;
}
